.nitro-purse-container {
    font-size: $font-size-sm;
    pointer-events: all;

    .nitro-purse {
        background-color: rgba($dark, 0.95);
        box-shadow: inset 0px 5px lighten(rgba($dark, 0.6), 2.5), inset 0 -4px darken(rgba($dark, 0.6), 4);
    
        .nitro-purse-subscription {
            background-color: rgba($light, 0.1);
        }
    
        .nitro-purse-button {
            padding: 3px 2px;
            color: rgb(111, 111, 112);
            &:hover {
                background-color: rgba($light, 0.1);
                
            }
        }
    }

    .nitro-purse-seasonal-currency {
        background-color: rgba($dark, .95);
        box-shadow: inset 0px 5px lighten(rgba($dark, .6),2.5), inset 0 -4px darken(rgba($dark, .6), 4);
    }
}

.currency-container{
    background-color: var(--test-galaxy);
    padding: 5px;
    color: #1a1d33;
    width: 130px;
    height: 30px;
    font-size: 15px;
    border-radius: 0.5rem;
    border: 1px solid #191919;
    box-shadow: 0 0 0 1pt #fff !important;

}

.currency-container-button{
    background-color: var(--test-galaxy);
    border-radius: 0.5rem;
    border: 1px solid #191919;
    box-shadow: 0 0 0 1pt #fff !important;
}
